configuration {
    font: "Inconsolata Nerd Font 22";
    show-icons: true;
}

/* Try themes using `rofi-theme-selector` command */
/* Find theme files using `ls /usr/share/rofi/themes` command */
@theme "gruvbox-dark-hard.rasi"
